.profile__add-button {
    width: 150px;
    height: 50px;
    font-family: 'Inter', 'Arial', sans-serif;
    background: #000000;
    background-image: url(/src/images/Vector-plyus.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px auto 0 auto;
    padding: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 3s linear;
}

.profile__add-button:hover {
    opacity: 0.6;
 }


@media screen and (max-width: 320px) {
    .profile__add-button {
        margin: 36px 0 0 0;
        width: 282px;
    }
}