@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__logo/element__logo.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__delete/element__delet.css);
@import url(./blocks/element/element.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__exit/header__exit.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/error-text/error-text.css);
@import url(./blocks/error-text/_active/error-text_active.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__no-submit/popup__no-submit.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__name/_type/_error/popup__name_type_error.css);
@import url(./blocks/popup/__about/popup__about.css);
@import url(./blocks/popup/__header/popup__header.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__window-container/popup__window-container.css);
@import url(./blocks/popup/__window-image/popup__window-image.css);
@import url(./blocks/popup/__zoom-title/popup__zoom-title.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-logo/profile__add-logo.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-logo/profile__edit-logo.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__logo/profile__logo.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/root/root.css);
@import url(./blocks/profile/__avatar-area/profile__avatar-area.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/elements/__number-like/elements__number-like.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__question/register__question.css);
@import url(./blocks/register/__link/register__link.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__btn/register__btn.css);
@import url(../src/blocks/popup/__tooltip-image/popup__tooltip-image.css);
@import url(../src/blocks/popup/__tooltip-text/popup__tooltip-text.css);